<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScoreCalculator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <ScoreCalculator.My.MySettings>
            <setting name="FolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ScoreManagerScore" serializeAs="String">
                <value />
            </setting>
            <setting name="ScoreManagerMapping" serializeAs="String">
                <value />
            </setting>
            <setting name="ScoreManagerEmp" serializeAs="String">
                <value />
            </setting>
            <setting name="ZeroScoreReplace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxScoreReplace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FoundationPendingToComplete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FoundationCompleteToITPi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FoundationPendingToCompleteMinScore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FoundationCompleteToITPiMinScore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoProcessAllStep" serializeAs="String">
                <value>False</value>
            </setting>
        </ScoreCalculator.My.MySettings>
    </userSettings>
</configuration>
