<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScoreCalculator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <ScoreCalculator.My.MySettings>
            <setting name="MappingFilePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="EmployeeDataFilePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="FolderPath" serializeAs="String">
                <value/>
            </setting>
        </ScoreCalculator.My.MySettings>
    </userSettings>
</configuration>
